// COLOR VARIABLES
$color-primary: rgb(198, 153, 99);
$color-primary-dark: rgb(178, 133, 79);

$color-secondary: rgb(16, 29, 44);

$color-grey-light-1: rgb(248, 248, 248);
$color-grey-light-2: rgb(170, 170, 170);

$color-grey-dark-1: rgb(84, 72, 58);
$color-grey-dark-2: rgb(109, 93, 75);

$color-white: #fff;

// FONT VARIABLES
$default-font-size: 16px;
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}
.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end grid-end];

}