.gallery {
    background-color: $color-grey-light-1;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 6.47vw);
    padding: $default-font-size;
    grid-gap: $default-font-size;

    &__item {
        &--1 {
            grid-area: 1/1/span 2/span 1;
        }
        &--2 {
            grid-area: 1/2/span 3/span 3;
        }
        &--3 {
            grid-area: 1/5/span 2/span 1;
        }
        &--4 {
            grid-area: 1/6/span 2/span 2;
        }
        &--5 {
            grid-area: 3/1/span 3/span 1;
            & img {
                object-position: right !important;
            }
        }
        &--6 {
            grid-area: 4/2/span 2/span 2;
        }
        &--7 {
            grid-area: 4/4/span 1/span 1;
        }
        &--8 {
            grid-area: 3/5/span 2/span 2;
        }
        &--9 {
            grid-area: 3/7/span 3/span 1;
        }
        &--10 {
            grid-area: 6/1/span 2/span 1;
        }
        &--11 {
            grid-area: 6/1/span 2/span 2;
        }
        &--12 {
            grid-area: 6/3/span 2/span 1;
        }
        &--13 {
            grid-area: 5/4/span 3/span 3;
        }
        &--14 {
            grid-area: 6/7/span 2/span 1;
        }
    }
    
    &__img {
        width: 100%;    
        height: 100%;    
        object-fit: cover;
        display: block;
    }
}