.sidebar {
    background-color: $color-primary;
    grid-row: 1 / -1;
    grid-column: sidebar-start / sidebar-end;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    @include respond(third-biggest) {
        grid-column: 1/-1;
        grid-row: 1/span 1;
        align-items: center;
    }
}

.nav {
    &-menu {
        position: fixed;
        top: -$default-font-size * 2.5;

        @include respond(third-biggest) {
            position: static;
        }
    }
    &-btn {
        height: $default-font-size * 4;
        width: $default-font-size * 4;
        fill: $color-white;
        cursor: pointer;
        margin-top: 4rem;

        @include respond(third-biggest) {
            margin-top: 0;
        }
    }
}